label {
  margin-bottom: 5px;
}
input {
  height: 25px;
  margin-bottom: 15px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0.5px 0.5px 5px gray;
}

input:focus {
  box-shadow: 0.5px 0.5px 5px darkseagreen;
}
