footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: aquamarine;
  padding: 20px;
}

.iconos {
  display: flex;
  gap: 10px;
}
.icono {
  width: 30px;
}
